<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="content-center">
      <div
        class="
          row row-grid
          justify-content-between
          align-items-center
          text-left
        "
      >
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            {{'common.case1-title' | translate}} <br />
          </h1>
          <p class="text-white mb-3">
            {{'common.case1-desc' | translate}}
          </p>

          <!-- <h2 class="mt-4">Price</h2> -->

       
        </div>
        <div class="col-lg-4 col-md-5">
          <img
            alt="Circle image"
            class="img-fluid"
            src="assets/img/poor/thalir_bg_girl.jpg"
          />
        </div>
      </div>
    </div>
  </div>
  <section class="section section-lg">
    <section class="section">
      <img class="path" src="assets/img/path4.png" />

      <div class="container">
        <div class="row row-grid justify-content-between">
          <!-- <div class="col-md-5 mt-lg-5">
            <div class="row">
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-trophy text-warning"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">3,237</p>
                          <p></p>
                          <p class="card-category">Awards</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats upper bg-default">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-coins text-white"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">3,653</p>
                          <p></p>
                          <p class="card-category">Commits</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-gift-2 text-info"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">593</p>
                          <p></p>
                          <p class="card-category">Presents</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-credit-card text-success">
                          </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">10,783</p>
                          <p></p>
                          <p class="card-category">Forks</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-12">
            <div class="pl-12">
              <app-pay-donate></app-pay-donate>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path5.png" />

    <img class="path3" src="assets/img/path2.png" />

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center">Would you be willing to help by giving a donation</h1>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-money-coins"> </i>
                </div>
                <h4 class="info-title">Feed childrens</h4>
                <hr class="line-primary" />

                <p>
                  Making a donation is a way of reaching out a helping hand. By providing even a small donation, you can be part of an effort to provide medical assistance, 
                  supply food and shelter, and help families rebuild their lives and communities
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-chart-pie-36"> </i>
                </div>
                <h4 class="info-title">Orphan</h4>
                <hr class="line-warning" />

                <p>
                  Orphans are at the top of our Association's priorities, as it takes care of normal orphans and handicapped orphans through orphanages , and surrogate mothers take care of them, and an integrated group of supervisors and psychosocial specialists to provide integrated care for children.
                  The association is also very interested in the alternative families project.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-single-02"> </i>
                </div>
                <h4 class="info-title">Good offers</h4>
                <hr class="line-success" />

                <p>
                  We offers is an idea to urge donors to benefit from the rewards of charity with the reception of the holy of year, where the donor can give his donation in ways that benefit the beneficiaries, including support for a patient's eye operation so that he can see again .. or Participation in a prosthetic limb for a poor family head so that she is able to work and take care of her family ,
                  or pure water compass to protect an entire family from diseases , heart operation to save a child.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg section-safe">
    <img class="path" src="assets/img/path5.png" />

    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-md-5">
          <img class="img-fluid floating" src="assets/img/chester-wade.jpg" />

          <div class="card card-stats bg-danger">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">100%</p>
                  <p class="card-category text-white">Safe</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-info">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">73 K</p>
                  <p class="card-category text-white">feeded childrens</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-default">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">3,012</p>
                  <p class="card-category text-white">helped poor families</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="px-md-5">
            <hr class="line-success" />

            <h3>Supporting isolation hospitals</h3>
            <p>
              Isolation hospitals bear a great responsibility in light of the current crisis and face challenges to complete their role in receiving and treating the injured .. and due to the lack of tools, supplies and medical devices in many hospitals, especially in the governorates and regions. This calls for everyone to join together to cover their needs and to cross us from the current crisis to safety.
            </p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-vector"> </i>
                  </div>
                  <div class="ml-3"><h6>Supporting isolation hospitals</h6></div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-tap-02"> </i>
                  </div>
                  <div class="ml-3"><h6>Support with medical tools and supplies</h6></div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-single-02"> </i>
                  </div>
                  <div class="ml-3"><h6>Helping childrens lifes</h6></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path2.png" />

    <div class="col-md-12">
      <div class="card card-chart card-plain">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <hr class="line-primary" />

              <h5 class="card-category">Total Donation</h5>
              <h2 class="card-title">Performance</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartBig"> </canvas></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg section-coins">
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <hr class="line-info" />

          <h1>
            Choose area
            <span class="text-info"> that fits your donation needs </span>
          </h1>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let type of donateTypes" class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="{{ type.image }}" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">{{ type.title }}</h4>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let item of type.list">
                    {{ item }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-primary btn-simple" [routerLink]="['/donate']">Donate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
