<div class="modal-header justify-content-center">
  <button
    aria-hidden="true"
    class="close"
    data-dismiss="modal"
    type="button"
  >
    <i class="tim-icons icon-simple-remove text-white"> </i>
  </button>
  <div class="modal-profile">
    <i class="tim-icons icon-single-02"> </i>
  </div>
</div>
<div class="modal-body">
  <p>Always have an access to your profile</p>
</div>
<div class="modal-footer">
  <button class="btn btn-link btn-neutral" type="button">Back</button>
  <button
    class="btn btn-link btn-neutral"
    data-dismiss="modal"
    type="button"
  >
    Close
  </button>
</div>
