
<article class="postcard blue">
  <app-slider></app-slider>

  <div class="postcard__text">
    <h1 class="postcard__title blue"><a href="#">Donate</a></h1>

    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt">
      <ul>
        <li>
          Donate the price of a cup of tea and feed childrens. 
        </li>
        <li>
          Feed a child for as little as $1 a day.
        </li>
        <li>
          Making a donation is a way of reaching out a helping hand. By providing even a small donation, you can be part of an effort to provide medical assistance, 
          supply food and shelter, and help families rebuild their lives and communities
        </li>
        <li>
          We need your help today to supply medicine to families in Syria.
          Medicines and medical supplies are increasingly scarce, and only half
          of the health facilities are fully functioning.
        </li>
      </ul>
    </div>
    <div class="postcard__tagbox">
      <form class="form" name="form" #f="ngForm">
        <div class="form-group">
          <label>
            <i class="tim-icons icon-money-coins"> </i> Donation amount</label
          >
          <div class="input-group mb-3">
            <select
              class="form-control drop-code"
              name="defaultPrice"
              [(ngModel)]="defaultPrice"
              (change)="changePrice($event.target.value)"
            >
              <option value="3">3</option>
              <option value="10">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <input
              type="text"
              class="form-control"
              placeholder="Price"
              name="defaultPrice"
              [(ngModel)]="defaultPrice"
              (ngModelChange)="changePrice()"
              type="text"
              #priceElem
              (focus)="focus = true"
              (blur)="focus = false"
            />
          </div>
        </div>
      </form>

      <div class="tag__item">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>
    </div>
  </div>
</article>
