<app-navbar></app-navbar>
<div class="page-header">
  <div class="page-header-image"></div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="square square-7" id="square7"></div>
          <div class="square square-8" id="square8"></div>

          <div class="ds-1col node node-page view-mode-full clearfix">
            <div class="field field-name-body">
              <p>
                <iframe
                  height="315"
                  src="https://www.youtube.com/embed/dR_sCxlHvqw"
                  width="560"
                ></iframe>
              </p>
              <p>
                <a
                  href="https://www.charities.org/news/america%E2%80%99s-charities-named-best-nonprofit-work"
                  target="_blank"
                  ><img
                    alt="Best Nonprofits to Work For"
                    class="
                      media-image
                      img__fid__37370 img__view_mode__full
                      attr__format__full
                      attr__field_file_image_alt_text[und][0][value]__Best
                      Nonprofits
                      to
                      Work
                      For
                      attr__field_file_image_title_text[und][0][value]__Best
                      attr__field_file_image_title_text[und][0][value]__Best
                      attr__field_file_image_alt_text[und][0][value]__Best
                      attr__field_file_image_title_text[und][0][value]__Best
                      attr__field_file_image_alt_text[und][0][value]__Best
                    "
                    height="173"
                    src="https://www.charities.org/sites/default/files/styles/large/public/NPT%20Best%20Nonprofits%20to%20Work%20For%20logo_website%20crosspromo%20banner.jpg?itok=H2zG0Mvn"
                    title="Best Nonprofits to Work For"
                    width="648"
                /></a>
              </p>

              <p>
                America's Charities inspires employees and organizations to
                support the causes they care about. We help nonprofits fundraise
                unrestricted, sustainable dollars through the workplace, and we
                help employers achieve their giving, engagement, and social
                impact goals. We do this to bring more resources to the
                nonprofits that are changing our world.
              </p>

              <p>
                America's Charities is a 501(c)(3) membership-based nonprofit.
                We work at the nexus of employers, charities, and employee
                donors.
              </p>

              <p>
                Since 1980, America's Charities has been a pioneer in giving and
                engagement. In 2020, America's Charities celebrated its 40th
                anniversary.
              </p>

              <ul>
                <li>
                  From the onset, we believed employees should be given a
                  choice; employees should never be 'voluntold' to donate their
                  hard-earned money.
                </li>
                <li>
                  We were among the first to transform employee workplace giving
                  from strictly paper pledges to digital platforms.
                </li>
                <li>
                  We knew early on that 'giving' didn't just mean monetary
                  contributions--that's why we encourage donors to give their
                  "time, talent, and treasure." <u>Time</u>, in terms of
                  volunteering hours with nonprofits you love. <u>Talent</u>, in
                  terms of donating your specific skillsets to advance a
                  charity's mission. And <u>treasure</u>, in terms of actual
                  charitable contributions.
                </li>
                <li>
                  From the beginning, we recognized an employer's role in
                  employee recruitment and engagement, we counseled our clients
                  on the benefits and challenges of transitioning a traditional
                  fall campaign to a year-round campaign, and we discussed why
                  true workplace philanthropy happens inside
                  <em>and </em>outside the walls of the workplace.
                </li>
              </ul>

              <p>
                In our 40 years as a leader in employee giving, America's
                Charities has raised more than $750 million for more than 25,000
                nonprofits addressing causes including education, human rights,
                hunger, poverty, research, animal welfare, veteran assistance,
                disaster relief, and health services.
              </p>

              <h2>Mission</h2>

              <p>
                America’s Charities helps the nation’s most trusted charities
                thrive by generating sustainable income through workplace giving
                and additional paths. We inspire employers and individuals to
                reach their philanthropic goals and support the charities of
                their choice.
              </p>

              <h2>Vision</h2>

              <p>
                America’s Charities is a major force in transforming and growing
                philanthropy.
              </p>

              <p>
                If we succeed in our mission,
                <strong
                  >we will raise $1 billion for worthy causes by 2026</strong
                >.
              </p>

              <h2>Who We Serve</h2>

              <ul>
                <li>
                  <strong>Charities</strong> &shy;– We help charities fundraise
                  recurring, unrestricted, sustainable dollars through the
                  workplace. Nonprofits looking to expand their participation in
                  workplace giving and employee engagement programs partner with
                  us as a member of America's Charities, Children First –
                  America’s Charities, Health First – America’s Charities, or
                  Community First – America’s Charities.
                  <a href="https://www.charities.org/charities"
                    >Click here for a printable list of our members</a
                  >.
                </li>
                <li>
                  <strong>Employers</strong> – We help employers achieve their
                  giving, engagement, and social impact goals.&nbsp;Employers
                  seeking to build or boost a strong culture; engage their
                  employees and help them find purpose and meaning; attract,
                  recruit, and retain talent; and ultimately achieve better
                  corporate profitability and social impact, partner with
                  America's Charities to launch or revitalize their workplace
                  giving programs. We offer employers a suite of employee giving
                  software packages, tools, and resources.
                </li>
                <li>
                  <strong>Employee Donors</strong> – Through our work with
                  charities and employers, we inspire individual donors to
                  connect with great causes, support nonprofits in a recurring,
                  sustainable manner, and make a personal, social impact.
                </li>
              </ul>

              <h2>Core Services</h2>

              <ul>
                <li>
                  We offer a
                  <a
                    href="https://www.charities.org/employee-giving-and-business-philanthropy-solutions"
                    >full suite</a
                  >
                  of employee giving and engagement tools, including easy-to-use
                  <a
                    href="https://www.charities.org/employee-workplace-giving-technology-funds-services"
                    >workplace giving technology platforms</a
                  >
                  ranging from a straightforward, out-of-the-box option, to a
                  comprehensive platform that integrates social media,
                  crowdfunding, team volunteering, and more. Each of our
                  solutions is tailored to fit an employer's specific needs and
                  social impact goals, and deliver personalized, highly social
                  online giving experiences.
                </li>
                <li>
                  We generate sustainable unrestricted financial support for
                  member charities through the
                  <a
                    href="https://www.charities.org/what-workplace-giving-campaign"
                    >Combined Federal Campaign (CFC), state and local giving
                    campaigns and private sector workplace giving campaigns</a
                  >.
                </li>
                <li>
                  We provide charitable funds management services to nonprofits
                  and private and public sector employers while maintaining a
                  resolute commitment to transparency and accountability.
                </li>
                <li>
                  We provide comprehensive consulting services with expertise in
                  employee engagement, corporate social responsibility (CSR),
                  workplace giving program and strategy development,
                  benchmarking, analysis, and more.
                </li>
                <li>
                  We help companies support their employees in times of distress
                  and hardship through
                  <a href="https://www.charities.org/eaf"
                    >Employee Assistance Funds (EAFs)</a
                  >, also known as Employee Relief Funds or Employee Crisis
                  Funds. By working with us, a company increases its flexibility
                  around the types of hardships the fund can cover and lowers
                  its administrative burdens..
                </li>
              </ul>

              <h2>Core Values</h2>

              <p>
                <span
                  >The success of America's Charities is derived from an engaged
                  board of directors and a dedicated staff. Together, our work
                  is guided by these core values:</span
                >
              </p>

              <p>
                <strong>Culture of Collaboration and Excellence:</strong> By
                passionately working together with all stakeholders, we
                challenge each other to achieve the highest levels of
                professional excellence.
              </p>

              <p>
                <strong>Dedication to Diversity and Integrity:</strong>
                Embracing diversity and delivering the utmost value to our
                stakeholders, we believe integrity is the foundation of our
                individual and collective actions that drives an organization of
                which we are proud.
              </p>

              <p>
                <strong>Commitment to Engagement and Connectivity:</strong> With
                an innovative and empowering spirit, we engage all stakeholders,
                and the greater society at large, through solutions and ideas
                that shape social responsibility trends and advance sustainable,
                effective philanthropy.
              </p>

              <h2>Contact Us</h2>

              <p>
                To learn more about our solutions for employers and
                nonprofits,<a href="https://www.charities.org/contact">
                  click here to contact us</a
                >.
              </p>

              <p>
                <a href="https://www.charities.org/about/staff">Click here</a>
                to learn about our team and office locations.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="register-bg"></div>

      <div class="square square-4" id="square4"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
